html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  color: #fff !important;
  min-height: 100%;
  min-width: 100%;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  font-size: 1.5em;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
}

h2,h5 {
  text-align: center;
  color: #333;
}
#list {
  min-width: 25em;
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}




table {
  margin: 0 auto;
  text-align: center;
  color: #333;
}

th {
  margin: 1em;
}

